@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
    --border: 2rem solid rgba(0,0,0, .1);
    --outline: 1rem solid rgba(0,0,0, .1);
    --outline-hover: 1rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: 0;
    scroll-padding-top: 7rem; 

}
body{
    background-color: #eee;
}
.header{
    position: fixed;
    left: 0; top: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    
}
.header .logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--black);
}
.header .logo i{
    color: var(--orange);
}
.navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);

}
.navbar a:hover{
    color: var(--orange);
}
.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background-color: #eee;
    font-size: 2rem;
    text-align: center;
    color: var(--black);
    margin-left: .3rem;
    cursor: pointer;
}
.header .icons div:hover{
    color: var(--black);
    background-color: var(--orange);
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 110%; right: -110%;
    width: 50rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}
header .search-form input{
    height: 100%;
    width: 100%;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
    background: none;
}
header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}
header .search-form label:hover{
    color: var(--orange);
}